<body>
    <div class="container-fluid pageBox">
        <div class="container-fluid headerAlign">
            <h2 class="headerText dashboardHeader">Hello {{User}}!</h2>
        </div>
        <div class="container-fluid pageInner">
            <div class="container-fluid balanceAlign">
                <div class="card displayCards" id="balanceCard">
                    <h3 class="card-title headerText" id="accountsHeader">ACCOUNTS</h3>
                    <div class="container-fluid balanceContainer">
                        {{#if logged-in}}
                        <div class="balanceBoxes">
                            <h4 class="headerText balanceHeaders" id="savingsHeader">{{account1}}</h4>
                            <p class="card-text" id="savings">{{account1Balance}}</p>
                        </div>
                        <div class="balanceBoxes">
                            <h4 class="headerText balanceHeaders" id="checkingHeader">{{account2}}</h4>
                            <p class="card-text" id="checking">{{account2Balance}}</p>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="container transactionAlign">
                <div class="card displayCards" id="transactionCard">
                    <h2 class="headerText" id="history">TRANSACTION HISTORY</h2>
                    <div class="transactionContainer">
                        {{#each transactions}}
                        <div class="transactionDisplays">
                            <div class="transactionDescriptionAlign">
                                <h3 class="headerText transactionCompany">{{company}}</h3>
                                <h3 class="headerText transactionDate">{{date}}</h3>
                            </div>
                            <div class="transactionAmountAlign">
                                <h3 class="headerText transactionAmount">{{amount}}</h3>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <button id="link-button">Link Account</button>
    </div>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>